* {
  margin: 0;
}

body {
  background-image: linear-gradient(100deg, #253846, #171a1d);
  color: #dbe4f0;
  font-family: "DM Sans", sans-serif;
}

#title {
  font-size: 48px;
  font-weight: 700;
  padding: 10px 0;
  text-align: center;
}

#full {
  align-items: center;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  height: 80vh;
  margin: 5% auto;
  padding: 20px;
}

.items {
  font-size: 18px;
  /* overflow: scroll; */
  padding-bottom: 8px;
  text-decoration: none;
  cursor: pointer;

}

#trashIcon {
  border-radius: 50%;
  cursor: pointer;
  -webkit-filter: invert();
  filter: invert();
  height: 36px;
  padding-left: 10px;
  transition: background-color .3s;
}

#trashIcon:hover {
  height: 38px;
  padding-left: 8px;

}

#new {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  text-align: center;
}

#newTask {
  background-color: #4857653a;
  border: none;
  border-bottom-left-radius: 100px;
  border-top-left-radius: 100px;
  color: #dbe4f0;
  flex: 1 1;
  font-size: 16px;
  padding: 10px;
  transition: border-color .3s;
  width: 300px;
}

#tasks {
  display: flex;
  font-size: 24px;
  font-weight: 600;
  margin-left: auto;
  margin-top: 30px;
  padding-bottom: 10px;
}

#addButton {
  background-color: #242e37;
  border: none;
  border-bottom-right-radius: 100px;
  border-top-right-radius: 100px;
  color: #dbe4f0;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  padding: 10px 20px;
  transition: background-color .3s;
}

#addButton:hover {
  background-color: #dbe4f0;
  color: #242e37;

}

#newTask:focus {
  outline: none !important;
}

.strike {
  text-decoration: line-through;
}

.todo {
  font-size: 18px;
  padding-bottom: 8px;
  text-decoration: none;
  cursor: pointer;
}

#tasksDiv {
  font-size: 18px;
}

#tasksDiv:hover {
  font-size: 18.5px;
}

#deleted {
  border-radius: 5px;
  font-size: 14px;
  height: auto;
  margin: 20px auto 0;
  overflow: auto;
  padding: 10px;
  text-align: center;
}

#deletedTasks {
  font-weight: 700;
  padding-top: 5px;
  text-align: center;
  text-decoration: none;

}

::placeholder {
  color: #b1b1b1;
  opacity: 1;
}

#allTasks {
  overflow: scroll;
  height: 50vh;

}

@media screen and (max-width: 850px) {
  #full {
    margin: 0px;
    padding-top: 80px;
    padding-bottom: 0px;
  }

  #tasksDiv {
    font-size: 20px;
  }

  #tasksDiv:hover {
    font-size: 21px;
  }

  #tasks {
    font-size: 26px;
  }


}@media screen and (max-width: 600px) {
#newTask{
  width: 120px;
}
}