* {
  margin: 0;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

body {
  background-color: rgb(255, 248, 248);
}
#navBar {
  background-color: rgb(255, 166, 166);
}
#title {
  color: white;
  padding: 25px;
  display: flex;
  font-size: 25px;
  justify-content: center;
}
#full {
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(255, 255, 255);
  height: 75vh;
  margin-top: 5%;
  border: 1px solid rgb(255, 228, 228);
}
.items {
  padding: 0px 25px;
  margin-left: 10%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
#trashIcon {
  padding: 12px 30px;
  height: 40px;
}

#new {
  display: flex;
  justify-content: center;
  padding: 20px;
  text-align: center;
  align-items: center;
}
#newTask {
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  margin-right: 10px;
  margin-left: 35px;
  border-radius: 3px;
}

#addButton {
  width: 100px;
  color: rgb(255, 255, 255);
  border-radius: 3px;
  border: none;
  height: 44px;
  background-color: rgb(255, 166, 166);
}
#newTask:focus {
  outline: none !important;
}

.strike {
  text-decoration: line-through;
}

.todo {
  margin-left: 80px;
  font-size: 20px;
  display: flex;
  padding-bottom: 15px;
}
#deleted {
  width: 40%;
  margin-left: auto;
  height: 60px;
  margin-right: auto;
  background-color: rgb(255, 255, 255);
  overflow: scroll;
  font-size: 14px;
  border: 1px solid rgb(255, 228, 228);
}
#tasks {
  margin-left: 80px;
  font-size: 20px;
  display: flex;
  padding-bottom: 15px;
}

#deletedTasks {
  font-weight: 600;
  padding-top: 5px;
  text-align: center;
  text-decoration: underline;
}
#errormsg {
  display: none;
}
@media screen and (max-width: 850px) {
  #fullPage {
    display: none;
  }
  #errormsg {
    display: flex;
    font-family: sans-serif;
  }
}
